.App {
  display: block;
 
}

/* USER INFO */

.container {
  display: flex;
  flex-direction: row;
}
.user_photo {
  display: flex;
  flex-direction: column;
  height: 50px;
}
.user_name, h3 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  height: 30px;
  margin: none;
}

/* USER RATING */
.stars {
  display: flex;
  flex-direction: row;
  margin-left: -30px;
}
.star {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  height: 15px;
  margin: 3px;
}


.review, p {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-top: 15px;
  width: 650px;
}


/* USER PHOTOS */
img {
  height: 150px;
  margin: 10px;
}

/* MODAL */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal-content {
  width: 500px;
  background-color: bisque;
}

.modal-header, .modal-footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


