.App {
  display: flex;
  flex-direction: column;
}

.user_container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 500px;
}
.user_photo {
  height: 45px;
  margin-top: 20px;
}

.user {
  display: flex;
  flex-direction: row;
  width: 70px;
}

.user_name {
  font-weight: 300;
  margin-left: 20px;
  
}

a {
  text-decoration: none;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 63px;
  margin-top: -20px;
  width: 95px;
}
.star {
  display: flex;
  flex-direction: row;
  height: 15px;
}

/* USER PHOTOS */
.container {  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 500px;
}

img {
  height: 150px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


